<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
  <connectionStrings>
    <!-- Online using OAuth -->
    <add name="CrmConnect" connectionString="AuthType=OAuth;Username=;Password=;Url=;AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97"/>
  </connectionStrings>
  <appSettings>
    <add key="AttributesToUpdate" value="" /> <!-- List the attributes to be updated by separating them with commas (,) -->
		<add key="OobEntities" value="Account,Contact,Lead,Opportunity,Incident" />	<!-- List the OOB entities by separating them with commas (,) -->
		<add key="CustomEntities" value="" /> <!-- List the custom entities by separating them with commas (,) -->
		<add key="TimeoutInMinutes" value="2" />
		<add key="DefaultConnectionLimit" value="2" />
		<add key="TotalRequestBatches" value="2" />
		<add key="TotalRequestsPerBatch" value="20" /> <!-- Limited to 1000 (Batch Size) -->
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
		</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.24.0.0" newVersion="2.24.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>